*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-image: url("images/background02.JPG");
  background-repeat: repeat;
}
.topmenu_container{
  position: sticky;
  top: 0;
  display: flex;
  background-color: #2c2c2c;
  height: 3rem;
  width: 100%;
  overflow:hidden;
  
}

header{
  display: flex;
  
  
}
.container{
  width: 70%;
  margin: auto;
}
h1{
  height:3rem;
  justify-content: space-between;
  width: 40%;
  overflow: hidden;

}
h1 img{
  padding:5px;
  height:3rem;
  justify-content: space-between;
}

nav{
  width: 60%;

}
ul {
  
  display:flex;
  list-style-type: none;
  justify-content:space-between;
  background-color: #2c2c2c;
  width:100%;
}


li a {
  font-family: "Oxanium", sans-serif;
  background-color: #2c2c2c;
  color: antiquewhite;
  width: 10rem;
  display:block;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: #55665f;
}

.active {
  background-color: #264237;
}

.main{
  width: 70%;
  margin:auto;
}




.title {
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 4%;
  padding-bottom: 5%;
}
#deeprock {
  background-color: rgba(255, 228, 196, 0);
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-size: 5vw;
  margin-top: 2%;
  color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  }
#together {
text-align: center;
font-family: "Manrope", sans-serif;
font-size: 1.5vw;
margin-top: 0;
  color: antiquewhite;

}

img.titlepic {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:100%;
  
}

.about{
  width: 70%;
  margin:auto;
  margin-top: 1%;
  background-color: rgba(255, 0, 0, 0);
  text-align: center;
  color: antiquewhite;

}

.operation{
  width: 100%;
  background-color: #264237FF;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;
}

#operation {
  color: antiquewhite;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-size:2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  width:100%;
}
.p1{
  font-family: "Manrope", sans-serif;
  color: antiquewhite;
  text-align: justify;
  text-justify: inter-word;
}
img.teampic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.our_team{
width:70%;
display: flex;
flex-wrap: wrap;
background-color: #2c2c2c;
margin-top: 2rem;
  margin-left:auto;
  margin-right:auto;
padding-bottom: 2%;
box-sizing: border-box;

}
#team{
  font-family: "Oxanium", sans-serif;
  color: antiquewhite;
  margin:auto;
  font-size: 3rem;
  padding-top: 2%;
}

h3.team {
  font-family: "Oxanium", sans-serif;
  color: antiquewhite;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
}
  .p2{
    color: #faebd7;
    font-family: "Manrope", sans-serif;
      width:100%;
      padding:2%
  }
  
  
.introduction{
  font-family: "Manrope", sans-serif;
  margin: 5%;
  padding: 8%;
  padding-top: 4%;
  background-color: rgb(119, 119, 119);
}

section.team_container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width:100%
}

article.team_member{
  background-color: #525252;
  flex: 1 1 22%;
  min-width: 200px; 
  margin:10px;
}

.image{
  height: 350px;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  background-size: cover;
}

.dwarf01{
  background-image: url(images/scout01.png);
}

.dwarf02{
  background-image: url(images/engineer01.png);
}
.dwarf03{
  background-image: url(images/driller01.png);
}
.dwarf04{
  background-image: url(images/gunner01.PNG);
}

.contact_container{
  display: flex;
  margin-top: 3rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

section.contact{
  width: 100%;
  background-color: #264237;
  margin:auto;
  margin-bottom: 2rem;

}


#contact{
  font-family: "Oxanium", sans-serif;
  color: antiquewhite;
  margin:1rem;
  font-size: 3rem;
}

p.contact01{
  font-family: "Manrope", sans-serif;
  padding:15px;
  color: antiquewhite;
}

figure.contact{
  float:right;
  margin:1rem;
  margin-bottom: 3rem;

}
.responsive{
  height:auto;
  width:100%;
}
figcaption{
  margin-bottom: 2rem;
  font-family: "Manrope", sans-serif;
  color: antiquewhite;
}
footer {
  background-color: #2c2c2c;
  padding: 10px;
  text-align: center;
  color: white;
  height:3rem;
}
footer a {
  font-family: Manrope, sans-serif;
  text-decoration: none;
  color:antiquewhite;
  font-size: 1rem;
}