body {
  background-image: url("background02.jpg");
  background-repeat: repeat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navlinks {
  float: right;
}

li a {
  font-family: "Oxanium", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.logo{
  float:left
}

li a:hover:not(.active) {
  background-color: #264237;
}

.active {
  background-color: #264237;
}


.p1{
  font-family: "Manrope", sans-serif;
}



.header {
  width: 70%;
  margin:auto;
  padding-top: 2%;
  background-color: rgba(255, 0, 0, 0);

#deeprock {
  background-color: rgba(0, 255, 255, 0);
    text-align: center;
    font-family: "Oxanium", sans-serif;
    font-size:5vw;
    margin: auto;
  color: antiquewhite;
  }
#together {
  background-color: rgba(255, 228, 196, 0);
text-align: center;
font-family: "Manrope", sans-serif;
font: size 1.5vw;
margin-top: 0%;
  color: antiquewhite;

}

}
img.headerpic {
  display: block;
  margin-left: auto;
  margin-right: auto 
  
}

.about{
  width: 60%;
  margin:auto;
  margin-top: 1%;
  background-color: rgba(255, 0, 0, 0);
  text-align: center;
  color: antiquewhite;

}

.operation{
  width: 60%;
  margin:auto;
  margin-top: 1%;
  background-color: rgba(255, 0, 0, 0);
  text-align: center;
}

#operation {
  background-color: rgba(255, 228, 196, 0);
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font: size 1.5vw;
  margin-top: 0%;
}
img.teampic {
  display: block;
  margin-left: auto;
  margin-right: auto

}

section.team_section{
  width: 70%;
  margin:auto;
  background-color: rgb(55, 55, 55);
  flex-wrap: wrap;
  display: flex;
}
#team {
  font-family: "Oxanium", sans-serif;
  color: #1e251c;
  width: 100%;
  padding: 10px;
}
  .p2 {
    font-family: "Manrope", sans-serif;

  }
figure{
  background-image: url("background02.JPG");
}

article{
  background-color: #979796;
  width:25%;
}

h3.team{
  font-family: "Oxanium", sans-serif;
}

