*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
  background-image: url("background02.jpg");
  background-repeat: repeat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navlinks {
  float: right;
}

li a {
  font-family: "Oxanium", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.logo{
  float:left
}

li a:hover:not(.active) {
  background-color: #264237;
}

.active {
  background-color: #264237;
}


.p1{
  font-family: "Manrope", sans-serif;
}



.header {
  width: 80%;
  margin:auto;
  padding-top: 2%;
}
#deeprock {
  background-color: rgba(0, 255, 255, 0);
    text-align: center;
    font-family: "Oxanium", sans-serif;
    font-size:5vw;
    margin: auto;
  color: antiquewhite;
  }
#together {
  background-color: rgba(255, 228, 196, 0);
text-align: center;
font-family: "Manrope", sans-serif;
font: size 1.5vw;
margin-top: 0%;
  color: antiquewhite;

}

img.headerpic {
  display: block;
  margin-left: auto;
  margin-right: auto 
  
}

.about{
  width: 70%;
  margin:auto;
  margin-top: 1%;
  background-color: rgba(255, 0, 0, 0);
  text-align: center;
  color: antiquewhite;

}

.operation{
  width: 60%;
  margin:auto;
  margin-top: 1%;
  background-color: rgba(255, 0, 0, 0);
  text-align: center;
}

#operation {
  background-color: rgba(255, 228, 196, 0);
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font: size 1.5vw;
  margin-top: 0%;
}
img.teampic {
  display: block;
  margin-left: auto;
  margin-right: auto

}

.our_team{
width:70%;
display: flex;
flex-wrap: wrap;
background-color: #202020;
margin:auto;
margin-top:2%;
padding-bottom: 2%;
box-sizing: border-box;

}
h2.team{
  font-family: "Oxanium", sans-serif;
  color: antiquewhite;
  margin: auto;
  font-size: 4vw;
  padding-top: 2%;
}

h3.team {
  font-family: "Oxanium", sans-serif;
  color: antiquewhite;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
}
  .p2 {
    color: antiquewhite;
    font-family: "Manrope", sans-serif;
      width:100%;
      padding:2%
  }
  
  
.introduction{
  height:330px;
  font-family: "Manrope", sans-serif;
  margin: 5%;
  padding: 8%;
  padding-top: 4%;
  background-color: rgb(119, 119, 119);
}

section.team_container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:100%
}

article.team_member{
  background-color: #525252;
  flex: 1 1 22%;
  min-width: 200px; 
  margin:10px;
}

.image{
  height: 350px;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  background-size: cover;
}

.dwarf01{
  background-image: url(scout01.PNG);
}

.dwarf02{
  background-image: url(engineer01.PNG);
}
.dwarf03{
  background-image: url(driller01.PNG);
}
.dwarf04{
  background-image: url(gunner01.PNG);
}
